services:
  tanko:
    build: .
    image: tanko:latest
    container_name: tanko
    restart: unless-stopped
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      # IMPORT_PATH: /biblio
      # IMPORT_AUTO_CONFIRM: auto
      # IMPORT_AUTO_DOWNLOAD: "1"
      # CONNECTORS_AUTO_RESTART: "1"
      # NODE_OPTIONS: --max-old-space-size=2304
    volumes:
      - ./data:/data
      - /path/to/your/library:/biblio
